*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body {
    background: url('/img/bcp.jpg');

}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px 20px;
    box-shadow: 0 8px 11px rgba(232, 239, 238, 0.15);
    height: 85px;
    background-color: black;
}
.home-contect {
    max-width: 400px;
}
.home-contect p {
    font-size: 16px;
    margin: 20px 40px 10px;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 60%;
    align-items: center;

}
.logo {
    display: flex;
    align-items: center;
}
.logo img{
   width: 20%;
   display: flex;
   align-items: center;
}
.logo b{
    position: relative;
    right: 370px;
    color: white;
    font-size: 2rem;
}
.navbar{
    display: flex;
    align-items: center;
    gap: 50px;
}
.navbar a {
    color: white;
    font-size: 20px;
}
.navbar a:hover {
    background: green;
    border-radius: 7rem;
}

.home-sci {
    display: flex;
    align-items: center;
    text-align: center;
    position: absolute;
    bottom: 40px;
    width: 200px;
    justify-content: space-between;
}

.home-sci i {
    font-size: 45px;
    background: rgb(226, 217, 222);
    border-radius: 50%;
    overflow: hidden;
    color: rgb(14, 13, 13);
    margin-left: 60px;
}
.boxx {
    position: absolute;
    top: 25%;
    left: 75%; 
}
.boxy {
    position: absolute;
    top: 25%;
    right: 75%;
}
.cover1{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 900px;
    text-align: center;
    padding: 40px 60px 40px;
}
.cover1 img{
    width: 400px;
    height: 200px;
}
.span {
    color: white;
    font-size: 15px;
}
.cover1 p{
    color: blue;
}
.box1{
    box-shadow: 0 9px 15px rgba(9, 205, 202, 0.15);
    
}
.box2{
    box-shadow: 0 9px 15px rgba(12, 196, 193, 0.15);
    height: 150px;
}
.box3{
    box-shadow: 0 9px 15px rgba(10, 199, 196, 0.15);
}
.cover2{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 900px;
    text-align: center;
    padding: 40px 60px 40px;
}
.cover2 img{
    width: 400px;
    height: 200px;
}
.span {
    color: white;
    font-size: 15px;
}
.cover2 p{
    color: blue;
}
.box1{
    box-shadow: 0 9px 15px rgba(9, 205, 202, 0.15);
    
}
.box2{
    box-shadow: 0 9px 15px rgba(12, 196, 193, 0.15);
    height: 150px;
}
.box3{
    box-shadow: 0 9px 15px rgba(10, 199, 196, 0.15);

}
.cover3{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 900px;
    text-align: center;
    padding: 40px 60px 40px;
}
.cover3 img{
    width: 400px;
    height: 200px;
}
.span {
    color: white;
    font-size: 15px;
}
.cover3 p{
    color: rgb(190, 239, 13);
}
.box1{
    box-shadow: 0 9px 15px rgba(9, 205, 202, 0.15);
    
}
.box22{
    box-shadow: 0 9px 15px rgba(12, 196, 193, 0.15);
    height: 150px;
    top: 25px;
}
.box3{
    box-shadow: 0 9px 15px rgba(10, 199, 196, 0.15);

}
.cover4{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 900px;
    text-align: center;
    padding: 40px 60px 40px;
}
.cover4 img{
    width: 400px;
    height: 200px;
}
.span {
    color: white;
    font-size: 15px;
}
.cover4 p{
    color: rgb(190, 239, 13);
}
.box1{
    box-shadow: 0 9px 15px rgba(9, 205, 202, 0.15);  
}
.box22{
    box-shadow: 0 9px 15px rgba(12, 196, 193, 0.15);
    height: 150px;
    top: 25px;
}
.box3{
    box-shadow: 0 9px 15px rgba(10, 199, 196, 0.15);
}
.cover5{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 900px;
    text-align: center;
    padding: 40px 60px 40px;
}
.cover5 img{
    width: 400px;
    height: 200px;
}
.span {
    color: white;
    font-size: 15px;
}
.cover5 p{
    color: rgb(190, 239, 13);
}
.box1{
    box-shadow: 0 9px 15px rgba(9, 205, 202, 0.15);  
}
.box22{
    box-shadow: 0 9px 15px rgba(12, 196, 193, 0.15);
    height: 150px;
    top: 25px;
}
.box22 b{
    font-size: 35px;
    color: aliceblue;
}
.box3{
    box-shadow: 0 9px 15px rgba(10, 199, 196, 0.15);
}

